html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
@import url('https://fonts.googleapis.com/css?family=Raleway:500,500i,600,600i,700,700i,800,800i&display=swap');

html, body {
    height: 100%;
    width: 100%;
    background-image: url("images/Stripes.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#logo {
    background-image: url("images/Logo.png");
    align-content: center;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 100%;
    margin-left: 2rem;
}

#nav-bar {
    background-image: url("images/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;    
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-right: 4rem;
    box-shadow: 0px 1px 8px 1px rgba(110, 110, 110, 0.975);
}

#back-button{
    display: flex;
    background-image: url("images/Beer mug (dark gray).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;  
}

#back-button:hover {
    transform: scale(1.05);
}

#back {
    display: flex;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(214, 105, 3); 
    text-shadow: 1px 2px white;
    align-content: center;
    margin-top: -10px;
    margin-right: 10px;
}

.delete-fav-button {
    display: flex;
    height: 20px;
    width: 20px;
}